extends ../story.pug

block title
    //.subtitle DRAFT
    .title(style="width:700px;") The Tale of a Curious Beaver
    hr

block story
    .chapter I
    .paragraph.
        Spring had arrived and flowers of every kind were waking from the deep slumber of winter, shaking
        aside the dripping frost and blossoming in harmony all over the forest floor like an ancient phenomena that
        belonged to some long-forgotten magic. There were patches of purple tulips, primroses and orchids decorating the
        ground; yellow and spotted  funghi escaping from rotten branches and logs; fresh new shoots sprouting on all the
        trees high above them. The soil had a particular aroma about it and here and there one could see thatchets of
        wild berries that the birds would swoop down on.
    .paragraph.
        Near the bank of a river, a few sparrows stopped in their merry song and perched themselves high upon a
        redwood pine to look down at the river beneath them. Here, in this corner of the woods was a family of
        beavers. The sparrows remarked at one another at the perserverant nature of this particular family of beavers
        who were scuttling along their solid dam, wedging sticks and twigs of all sizes. One such young beaver, by
        the name of Hans, was prodding around the base of the tree when the sparrows decided to call out:
    .paragraph.
        'Alas little beaver, spring is here. Why do you then continue to work so deligently when times are so fine?'
    .paragraph.
        'Well we do still play and have fun' protested Hans although perhaps admitting that it was not as much as the
        sparrows. 'But a beaver must always endeavour to be hard working for the good and prosperity of their
        family' Hans continued to recite out to them.
    .paragraph.
        'But then you may end up spending your entire life without really having the opportunity to enjoy the things
        that you have been so assidious with nor the chance to explore a happiness you never believed was possible'
        responded the second sparrow and, as if with not a moment more to lose, the two fluttered off.
    .paragraph.
        'But then you may end up spending your entire life without really having the opportunity to enjoy the things
        that you have been so assidious with nor the chance to explore a happiness you never believed was possible'
        responded the second sparrow and, as if with not a moment more to lose, the two fluttered off.
    .paragraph.
        Hans nevertheless waved their remarks aside and continued to hunt for suitable twigs, sparing only quick
        glances at the frogs that were leaping around the marshes in joy. How he longed for the end of the day to
        arrive where he too could go out and play.
    .paragraph.
        The end of the day did eventually arrive but given the large amount of work the family had taken up in
        preparing what was going to be a beautiful floating lodge by all beaver standards, Hans's mother was quick to
        dismiss the possibility that he could leave today and play. Finding himself on the edge of complaining
        again, Hans instead rather abruptly disclosed his desires for an adventure - he thought it was about time he
        explored what was out there. This came as quite a surprise to Hans's mother as it did for most of the others
        in his family. But his father was supportive and understanding of a young beavers desire to discover the
        world that awaited out there. The father then complemented his exemplary work attitude and remarked that
        it would be missed before the rest of the family, which was indeed quite a large family, bade Hans
        farewell and off he embarked.
    .chapter II
    .paragraph.
        Hans excitedly waddled upstream. He had lived his whole life without travelling too far away from home and
        was eager to find other beavers like himself and to expand his views. For three days, Hans traced a route up
        the river, trying to stick as close to it as possible by hopping along the rocks. The clearing of trees from
        the river also allowed the pleasant sun to warm his coat. Occasionally he would meet rabbits and stoats along
        the way, greeting them in kind and imagining the thoughts that crossed their mind once they departed ways.
        What a wordly and brave beaver they might think to themselves. It was on the third day, when he almost began
        to wonder, that Hans came across a group of young beavers playing gaily at the waters edge. They seemed to
        be having a merry time together and much to Hans's delight, invited him to join in. Under the smiling sun
        which siloutted through the pines, the small group of them played a large variety of games, many that Hans
        had never even heard of before but was nevertheless keen to try out. Soon dusk was upon them and Hans began
        to feel a tinge of sadness at the prospect of the end of a lovely evening and a parting of ways. However,
        sensing this, one of his new friends asked if he cared to join for supper. They brought him just a bit
        further onwards to their little den nestled in a nook in the river.
    .paragraph.
        Hans found it hard to hide his shock at discovering the loosely coupled logs and branches that made their
        home. What poor craftsmanship he thought to himself. The haphazard structure was almost at the point of being
         dangerous yet when he passed underneath, there was a certain cosyness to it, that although was perhaps not
         to his taste or standard, was something he was nevertheless able to appreciate and was thankful for the
         hospitality they provided. It wasn't long, however, before he brought up the matter to his comrades -
         pointing out the benefits of diagonal bracing and the use of oak over pine for the foundational pieces. It
         was hard to resist given the excellent location that they could produce something of real wonder. A talking
         piece for all the beavers from high up the western mountain range and stretching right across to the great
         lakes. The others sat their in marvel at his energy and imagination and all were entranced by this grand
         proposition.
    .paragraph.
        'That does sound very splendid.'
    .paragraph.
        'We would be the talk of the woods and animals of all kinds would gather in admiration' spoke another quite
        dreamily and they all nodded in agreement.
    .paragraph.
        'But it also sounds like a lot of work.'
    .paragraph.
        'And what if something goes wrong' asked another.
    .paragraph.
        'And the games that we love playing, what about them?' This last question was followed on with another round
        of concerned nods.
    .paragraph.
        'We could still play every now and then' reassured Hans.
    .paragraph.
        "Really?" they seemed to chime together before descending into reflective thought. 'Perhaps then you could
        stay with us for a while and help lead with this work.'
    .paragraph.
        Hans was thrilled at such a proposition and the group of them raised their little glasses in salute before
        continuing to enjoy the rest of the night.
    .chapter III
    .paragraph.
        Over the next couple of days, Hans went straight to work, scouting the nearby woods, fetching all the
        resources and drawing up plans off large strips of bark. He paced out the area and busied away sharpening
        tools and gathering dried out ferns to fasten the beams. The others followed attentively, mimicing his
        techniques and following his orders. However, at the middle of each day, when the sun was at it's peak right
        above them all, the beavers would break from their duties and wallow in the muddy banks. They would call out
        for Hans to join, but ambitious as a beaver he was, he would try stay on, gnawing away at this tree and that,
         tying knots around the logs and hoisting them into position. After a while, his apetite for work would
         slowly wear out and the desire to drop what was at hand and join in on the fun with his friends grew
         stronger and stronger until at last he caved in and joined his peers for a giggling game of hide and seek.
         Day after day this pattern seemed to continue and Hans noticed that the group were moving at a much slower
         pace than he had anticipated. It would take years before anything of the exemplary distinction he had
         imagined could even start to be recognised. Hans couldn't help get rid of the twisting, churning feeling of
         frustration that filled him. They were all his friends and he loved them for that but why couldn't they put
         a little more effort in. Sure, he enjoyed the games but they got a little repetitive after a while. Wasn't
         this project more exciting?
    .paragraph.
        More importantly, their motivation seemed to be waning with every passing day and Hans was vexed at the
        imposing task that seemed to loom purely over him. This all bundled together was reaching the point where it
        was effecting his own motivation and he became quick to tire.
    .paragraph.
        On one weary day it finally reached the limit and Hans couldn't hold in his politeness or restraint any longer.
    .paragraph.
        'Why are you all so quick to abandon me for your own self-pleasure?' he wailed out to the group just as they
        were getting ready to venture across to a neighbouring pond.
    .paragraph.
        'We're not abandoning you' replied one of them.
    .paragraph.
        'But I always end up doing all the work whilst you all run off to have fun and it's not fair.'
    .paragraph.
        'We are not binding you to carry out this task alone, quite the opposite in fact. We would prefer it if you'd
         join us. The only thing that seems to be binding you here is your own mind.'
    .paragraph.
        'What do you mean by that?' inquired Hans.
    .paragraph.
        'It is the expectation created by your own ambition that drives you to do this. It's a horrible cyclic
        disease that's very hard to shake.'
    .paragraph.
        'horrible indeed' confirmed another gravely.
    .paragraph.
        'Yes, I've seen it with quite a few of those down-stream beavers' said a third.
    .paragraph.
        'I don't quite understand.'
    .paragraph.
        The first beaver paused for a moment before addressing Hans: 'There's a pattern to this disease. You slave
        around for days and days but before you get close to finishing your work your mind jumps to something else
        even more grandiose and audacious than before and it goes on and on. You focus so much on the future
        pleasures you await to receive that you never even allow for the current pleasures that you could be having.
        And as the seasons pass you wake up on one unsuspecting day and there death is knocking on your door. And you
         tell him you're not ready yet but what you see before you is all the days of your life and you realise how
         folly you were not too have squeezed out the very life from each and every one of them.'
    .paragraph.
        'But perhaps we can help change that' offered another beaver brightly, stepping forward.
    .paragraph.
        Hans paused and began to ponder the words of his comrade. The others, sensing the silence that now spilled
        down from the trees above, gradually dispersed, leaving slowly to the pond. Was he right? Am I simply a slave
         to my own work? Hans asked himself. His mind wandered to his new friends who despite having little among
         them, were nonetheless a happy little colony of beavers. But was it really true, that the work he so
         tirelessly worshipped would only in turn infect his mind with a strain of chronic disatisfaction. It didn't
         feel right for Hans to let go like this but he decided that perhaps they were right and that he should
         instead focus on the joys of life that were nearer to him. Packing everything away he scrambled across to
         the small neighboring pond where he was embraced with smiles and hugs. There he put aside the worry's of
         tomorrow and was able to soak up the pleasures of today.
    .chapter IV
    .paragraph.
        And so with each passing day, what was then summer turned into autumn and the beavers all began to play in
        the piles of yellow and red leaves that accumulated at the floor of the forrest. They grazed on juniper
        berries and lounged together on large flat boulders to soak as much of that warmth from the sun as possible.
        Hans tried to take his mind off working and redirected the focus on just relaxing and enjoying the time he
        had now. And for the moment, life for Hans was bliss.
    .paragraph.
        It was not too long however when one day, Hans started to recognise a faint ticking sound. Just a little tick
         which seemed to steadily grow day by day and signal at something far greater lying just behind the horizon.
         The ticking sound was accompanied by a sort of itch, one tucked away in a place on ones body seemingly
         impossible to scratch. Hans ignored the pestering itch from inside and continued to play this and that and
         here and there but each time he played he felt like something was changing. There was this numbness or a
         sort of languidness that began to encompass the activities which no matter how pleasant they were before now
          struck him as being rather routine and mundane. The itchiness from before mutured into a tiring discomfort
          that seeped through his whole body before clenching into a fully grown apathy. He felt sluggish and
          lethargic and it was finally then that the ticking had reached it's irrevocable destination: boredom.
    .paragraph.
        Hans although having clearly recognised the feeling responded with a sort of dismay. Perhaps it was simply a
        short repercussion from the change in lifestyle. It was odd because he still felt the games were as fun as
        they ever were. That his friends were as bubbly and delightful as before. Maybe there was just something
        wrong with him. Here he was, lucky to have found a group of wonderful beavers and he was incapable of being
        truly grateful. He felt like he had all that he needed, so maybe it was just something that would blow over.
        His empathetic friends were all encouraging when they sensed the faltering energy that Hans had begun to
        exhibit, and Hans returned with a smile, promising that everything would eventually be okay.
    .paragraph.
        'Why am I so sad?' asked Hans to the river.
    .paragraph.
        But the river said nothing in return and Hans was left alone to mull in his thoughts. The shape of bordeom
        took on its final form: emptiness. Hans the beaver sobbed at the river's edge feeling so empty and worthless
        inside. Time seemed to ignore his snivels and all remained quiet except for the sound of water hitting the
        river's surface. Hans's solitude was suddenly broken by the sound of water elsewhere hitting the river's
        surface. He looked up surprised to see the river turn to a field of splashes as the mighty sky above began to
         cry at the sight of this poor little beaver. The rain descended steadily at first before getting heavier and
          heavier. The others, anguished by the oncoming deluge dashed further inland seeking high ground and shelter
          . But Hans felt an unexplainable lightness as the rain washed down his pelt. His attention was suddenly
          brought to the beaver's den creaking and cracking on the other side of the river and in a split decision he
           decided to jump into the increasingly turbulent waters and swim across to the other side. In a matter of
           seconds, the water level began to lift higher and higher becoming more ferocious and rapid. Hans tried to
           withstand the water as he rushed to and fro, slinging branches and sticks from his mouth and throwing them
            on top of the dam in an attempt to reinforce it and prevent the den from washing down steam and smashing
            into oblivion on one of the many rocks. Something even bigger was required, so he began to take some of
            the giant logs from the den itself and place it on the dam but just as he did that the feeble dam
            ruptured from the force of the gushing river and poor Hans was swept away and swallowed by the rushing
            river with little but a gargle of air. Under the water, Hans was flung around by it's storng currents and
             hurled down the river for what seemed like an eternity. As he waited for either the air in his lungs to
             be filled with water or to collide with one of the fast approaching rocks, he found himself surprisingly
              at peace with the situation. Although he realised that his time with the yound beaver had left him
              bereft of purpose he was happy that his final actions were a call of duty towards his work. And so
              comforted by this sense of purpose he awaited for the beaver god to thrust him out from the river and
              up into his arms. And after what seemed like one more eternity later, as requested, he was thrusted out
               of the river.
    .paragraph.
        But not by a beaver god.
    .paragraph.
        Hans began to take depraved gulps of air as he opened his eyes to look into his fathers determined face who,
        clutching him by the scruff of his neck, swam across the rapids and climbed up on to their family's sturdy,
        persevering dam. He finally dragged Hans to the safety of the shore. As he recovered, Hans was completely
        overwhelmed with joy and embraced his mother and his father and the rest of his family. Hans told them all of
         the tales he had with the group of beavers living upstream and how much he missed his family.
    .paragraph.
        'Ah serves them right for choosing to be such lazy beavers' exclaimed Hans's father after hearing everything.
    .paragraph.
        'They're not lazy' defended Hans half heartedly as he recollected in contrast what those beavers had
        thought about him and his family. To Hans, it seemed that it was more than just a choice.
    .paragraph.
        'I don't know' he replied. 'They're just different.'

