extends layout

block head
    link(rel='stylesheet', href='/stylesheets/game.css')

block content
    .game-panel
        .game-options
            input(name="room")
            .game-button Join
        .game-options
            .game-button Host