extends layout

block head

block content
  .panel
    a(class='container' href='/story/a_drop_of_sense_in_a_river_of_madness')
      .title(style='margin-top:100px') A DROP
      .title OF SENSE IN
      .title A RIVER OF MADNESS
