doctype html
html
  head
    title="Fortnightly Fables"
    link(rel='stylesheet', href='/stylesheets/home.css')
    block head
  body
    .navbar
      .wrapper
        a(class='title' href='/') The Fortnightly Fables
    block content
