extends layout

block head

block content
  include nav
  .panel
    a(class='container' href='/story/1')
      .issue ISSUE 1
      img(src="/images/issue1.png" class="library_img")
      br
      .subtitle 20 mins
    a(class='container' href='/story/2')
      .issue ISSUE 2
      img(src="/images/issue2.png" class="library_img")
      br
      .subtitle 8 mins
    a(class='container' href='/game')
      .issue RAGE
      img(src="/images/rage.png" class="library_img")
      br
      .subtitle Game