extends layout

block head
    link(rel='stylesheet', href='/stylesheets/story.css')

block content
    .main
        .content
            .header
                block title
                block story