extends layout

block head
    link(rel='stylesheet', href='/stylesheets/story.css')

block content
    include nav.pug
    .main
        .content
            .header
                block title
                block story