extends ../story.pug

block title
    //.subtitle FIRST PUBLISH
    .title(style="width:700px;") A Drop Of Sense In A River Of Madness
    hr

block story
    .chapter I
    .paragraph.
        There was perhaps nothing more that pleased the king then to be able to sit on the tower’s terrace at dusk, and
        overlook the expanses of his kingdom. An activity he would regularly indulge himself in at the end of a
        challenging day or when he felt the need to remind himself of the purpose he fulfilled. He would cast his
        gaze from
        this highpoint and marvel at every aspect below him as if it were he himself that had laid each brick, sowed
        each seed, and smithed every tool. Like a painter he would become absorbed in his work. Down below, a hurried
        ant of a man was dashing from side to side of one of the cobbled streets, alighting each lamp; merchants that
        had come near and far were silently yelling, their hands forming elaborate expressions as others packed in all
        the goods and wares; a mother squatting at the river’s edge was washing her linen; and a group of kids in a
        tight circle in one of the small squares, playing some game most likely, had broken off and were rushing back
        to their homes. All was captured in his canvas. Extending his gaze beyond the cities imperious stone walls, it
        became even more difficult to pick out the specs trailing along the main road and along all the other, smaller
        roads that branched out towards little farms and villages or perhaps even further afar, but he felt great
        comfort in knowing that they were out there.
    .paragraph.
        Drawing a sip from his wine, his eyes flickered a little as he patiently waited for his favourite time of the
        evening. There was no doubt a touch of obsessiveness in the way he experienced this moment, as if he himself was
        its orchestrator, the orchestrator to the symphony below that tonight, like any other night, would perform just
        a single, entrancing note. Starting most nearest to him, where the beautiful grand noble houses lay, windows
        would begin to silhouette a golden light from the ignited flames within. Gradually, this would spread around the
        houses. It would start as just a few lonely pockets and then if overcome by an irresistible solidarity, more
        would light up, spilling further to the bundles of houses below. Families rich and poor would all join in the
        session, breathing life to their fireplaces and letting the light escape into the cool air outside. It was
        mesmerizing and even in the distance, little flames could be made out from the satellite farms and villages that
        surrounded the city. And finally, the king would look up to the skies, and see them mirror the beauty of the
        land beneath by producing a blanket of tiny twinkling flames. Unfortunately, tonight, the king’s secret symphony
        was spoiled. The skies had instead developed into an enormous mass of dark clouds that now loomed heavy over the
        city. The odd rumble was almost prophesising the inevitable downpour and before the first drop had even hit the
        king’s glass, the man had already scrambled back indoors.
    .paragraph.
        His sour mood was only slightly consoled by the knowledge that this evenings downpour, in which any instance of
        rain had been far and few between in recent months, would be of great relief to the farmers and their crops, a
        growing pressure which had been the source of the challenging day in the first place. Just as he was examining
        the irony of the situation before him, he was interrupted by a guard.
    .paragraph.
        ‘Your majesty.’ The man stuttered, fully revealing his own uncertainty at the information that he was about to
        relay. ‘There is word amongst the guards, that, this a…. man has entered the city.’
    .paragraph.
        ‘Men enter the city all the time.’ The king boomed back at him.
    .paragraph.
        ‘Yes, but he a… claims to be a wizard.’
    .paragraph.
        ‘He claims to be a wizard?”
    .paragraph.
        ‘Well, not exactly. He’s been talking to people in the taverns, telling stories and such and the tavern owners.. they all believe he’s some wizard.’ As, if realising that there was nothing special about people telling stories and talking to people he added: ‘They say he’s been doing unusual stuff.’ He stopped himself short of saying ‘magic’.
    .paragraph.
        The king smiled. Both at the guard’s dilemma in trying to be as knowledgeable and assured in something that he clearly lacked both knowledge and assurance in and in the opportunity that he saw before him to increase his standing and respect amongst the guards and civilians alike - a job that a king must constantly be doing. He was a disciple of the school of thought that just like a warrior’s greatness relies on how he uses a sword, so too does a king’s greatness come from how he uses words. Although having never met a wizard himself and perhaps being dubious of the many stories he had heard, he believed that the best thing was to meet the man himself and find out, why, after all, had he ventured here.
    .paragraph.
        ‘Perhaps it would ease the minds of those people if I spoke to this man himself. Let me develop an understanding of who he really is and what his intentions are so as to deal with it accordingly and dispel any concern that the people might have.’
    .paragraph.
        ‘Yes, thank you, your majesty.’
    .paragraph.
        The king requested the preparation of the smaller and more intimate dining room to which the guard nodded and then sensing that the conversation had come to a close, slipped back out of the room. The king was left standing, mulling though his thoughts. And what good are words, he then thought to himself, without having the ability to develop a deep and innate understanding of who exactly you’re talking to. Perhaps it was that heightened perception that the king was even more proud of than his own command of the language.
    .chapter II
    .paragraph.
        The following day’s events passed the king with little importance. He rushed back and forth throughout the day, talking with various advisors and making a multitude of quick decisions with the certainty that indicated he’d pondered over them for a lifetime. The king had a reputation for being a very critical and demanding man with perhaps the only outlier in this attitude being the lovingness he showed towards his own family. He was almost tempted then, at being so preoccupied with his duties throughout the day, to cancel altogether this meeting with the wizard and instead spend the time enjoying the company of his family. His grudging obligation to keep his word was further tested with the delayed and almost rude arrival of the man himself who eventually broke the king’s solitude in the dining room by bursting through the large oak doors.
    .paragraph.
        ‘Ahh, there you are. Apologies for the inconvenience, your highness… or is it your majesty. I forget. How do your people refer to you here?’ He said as he trudged in and before the king was able to stand and greet him as was custom, plonked himself down at the table at the opposite end.
    .paragraph.
        The king sat there astounded. He had expected the sort of dignified man that carried an aura from a life enriched with wisdom. The man, who’d not given a moment more before lunging into the food prepared before him, had both the demeanour and appearance of a peasant - hunched over in a shamble of rags and devouring the food with the intensity of a starving dog. And the stench; the king was hit with the repugnant reek of animal manure that was impossible to ignore and liable to make his eyes water if he came any closer. The king continued to sit there shocked. Most off-putting of all the king began to realise, was that he had expected this wizard to lead the conversation, to introduce himself and state his purpose, and to be then impressed by the kings own sophisticated mind. But yet there was nothing like that.
    .paragraph.
        The silence ensued and the king’s impatience grew at his own inability to rescue the uncomfortable situation that he was presiding in. A new thought wandered into his mind. This had to be a trick. Some foul joke that the guards had played on him. He could imagine a group of them right now giggling to themselves behind the wooden doors. The king could feel his face redden. A wizard. A magician. A powerful sorcerer that was able to conjure elements out of the thin air and bend the will of anyone he chose. This man was none of this. He took one more second to cool himself down before breaking this awkwardness which was practically strangling him.
    .paragraph.
        ‘My people say you’re some sort of wizard.’
    .paragraph.
        The wizard continued to be hunched over finishing off a large slice of pork.
    .paragraph.
        ‘Is that right?’
    .paragraph.
        ‘Why of course your majesty.’ He said, bowing in a mocking sort of way.
    .paragraph.
        ‘I’ve never met a wizard before.'
    .paragraph.
        ‘Of course you haven’t.’
    .paragraph.
        ‘Perhaps then, you can inform me a little, as to what a wizard does.’
    .paragraph.
        The wizard continued chewing loudly until he had finished his mouthful then thought how best to respond: ‘I don’t believe I have to, I think the stories you’ve heard already speak enough.’
    .paragraph.
        The king smiled, sensing the wizard was almost squirming a little to avoid being found out. It was like a game. The king was still unsure about who this “wizard” was but surer that by the time the king was done with him, he would wish he’d never proclaimed himself such. The king was almost already gloating in pre-emption, but knew he had to continue to play the game. ‘Well, I would be truly impressed if you could show me something, even just something small.’
    .paragraph.
        ‘And a… what is in it for me?’
    .paragraph.
        ‘Well I see you’ve already indulged yourself in my hospitality, I feel that it would be only fair that I receive something small in exchange.’
    .paragraph.
        ‘Something small ay?’ The wizard repeated. ‘Of course, of course.’ He muttered and then reluctantly: ‘And what would be this desire of yours? Your majesty.’
    .paragraph.
        The king had an almost irresistible feeling of smugness, but quickly swallowed it. ‘Perhaps you could refill my glass of wine.’
    .paragraph.
        ‘Hmm okay.’ Said the wizard and to the king’s surprise, lifted his grubby hands from out of the rags and pointed his fingers towards the glass.
    .paragraph.
        The king peered back into his glass. The moment of curiosity washed away and the glass remained empty. ‘I’m surprised. Did the magic not come through your body like you had thought it would?’
    .paragraph.
        It was then that the wizard really looked up at the king and in turn the king was able to look into his light blue eyes. The king was suddenly perturbed at the set of eyes he was looking at and then to the smile that grew on the wizard’s face. ‘Ah but what is surprising when you never believed that I was a wizard in the first place.’
    .paragraph.
        ‘And there has been nothing you’ve done so far to change that belief.’ The king replied indignantly. First, he wastes my time and now he smirks at my hospitality, he thought to himself.
    .paragraph.
        ‘Fortunately, I’m not subject to your lack of belief to execute what I have travelled here to do.’
    .paragraph.
        ‘And what would that be?’
    .paragraph.
        ‘To help you.’
    .paragraph.
        To help me! ‘I doubt that. I have everything here that I’ve ever wanted.’
    .paragraph.
        ‘I can see that. And to what cost? Your failure to believe me is no different to your failed belief in your people. You treat them like pigs and think that they enjoy rolling in your filth whilst you gloat of your riches and self-worth. If you really learn to perceive people rather than pretending to then I shall grant you what you want more than any riches: The right to call yourself a real king.’
    .paragraph.
        The king’s fury bulged through the seams on his face. ‘That’s it.’ He roared, standing up from his chair. ‘I’m finished. You’re nothing but a deranged, mad little rodent. I built this kingdom. Everything here stems from me. I will not be subject to such a ridiculous joke. Guards!’
    .paragraph.
        At the drop of the word, three armoured men burst through the door and ceased the wizard.
    .paragraph.
        ‘This man is a greedy fraudster that has abused a king’s hospitality.’
    .paragraph.
        But before the guards could take him away, the wizard stood up and leaned towards the king and in a harsh whisper said: “Mad. Greedy. You want to see mad and greedy. Curse this city. Anyone that drinks from its river will become feverously mad and greedy.
    .paragraph.
        And with that the wizard was marched off to the city jail.
    .chapter III
    .paragraph.
        The king struggled to sleep that night, disturbed by the altercation he had with the stranger. He should have trusted his instincts from the start, he told himself. The stranger was no wizard. And cursing the river. He had heard of no wizard ever doing something as ridiculous as that. The king was dubious to start with that wizards like that really existed. This meeting should’ve reassured the nonsense that bards and travellers spread, not made him more anxious. The king looked forward to the new day and to burying this strange dinner behind him. Failing to go to sleep, he got out of bed and fetched himself a glass of water to quench his parched mouth. But the king, knowing that his mind was playing games with himself, was still hesitant to drink the glass of water that he knew had come from the river. No, he told himself, he would drink from the glass and dispel any notion of cursed water. His heroic action was broken by the sounds echoing from outside. Striding out to the terrace he leaned over in shock to see a large group of houses up in flames. A bright great flame that dwarfed all the little lights in the city. He could see but not hear people screaming and running. The line of houses was part of the poorer district and lay directly on the river front. Had they already drunk the water from the river and become mad at one another? Was it just a coincidence? Before being able to speculate any further, a guard rushed into his view about to report what obviously the king was already witnessing before pausing and instead blurting:
    .paragraph.
        ‘Do you think this was the doing of the wizard?’
    .paragraph.
        Irked at how quickly the whispered words of the wizard had reached all the guards, the king was about to yell. ‘The river isn’t cursed, are you stupid?’ He held is tongue long enough to realise that the guards impulsive blurt was pure hearsay. He knew of no association with the river.
    .paragraph.
        ‘No there was no wizard, only a fraudster who now resides in the city’s prison.’
    .paragraph.
        The king heard the guard leave and then a few moments later remerge.
    .paragraph.
        ‘What is it now?’ demanded the king before realising that it wasn’t the guard but instead a long and fellow friend, the head of one of the city’s most noble and wealthiest families. As someone he felt he could trust and perhaps even seek council, the king decided to recollect the meeting with the wizard to him.
    .paragraph.
        ‘Hmm, it’s important that you don’t let such things get in your head too much.’
    .paragraph.
        ‘Yes, I realise that.’ Confirmed the king.
    .paragraph.
        ‘And hence you must always remain rational in these situations.’
    .paragraph.
        ‘Agreed.’
    .paragraph.
        ‘So then, if there is however a chance that what the wizard said is true.’ His counsellor said gesturing with the flight of his left hand to the burning mess below.
    .paragraph.
        ‘Don’t call him that. He’s nothing but a madman.’
    .paragraph.
        ‘But nevertheless, if what the madman said is true, we must take some precautions for the protection of the city.’
    .paragraph.
        ‘Like what?’
    .paragraph.
        ‘Perhaps we can collect water from the neighbouring river.’ He suggested, referring to a parallel river that ran some 15 kilometres from the city.
    .paragraph.
        ‘What?” Responded the king incredulously. ‘You talk about remaining rational, but that’s crazy. You want to supply water for the entire city?’
    .paragraph.
        ‘Okay, perhaps just for the noble families then.’ He paused. ‘Maybe, it’s nothing in the end and he was really lying. If it looks that way then we can go back to the water from the river and no one can be the wiser.’
    .paragraph.
        ‘Yes, yes, I think it’s best if no one is the wiser. I would not like to make a fool of myself.’
    .paragraph.
        The two men nodded in agreement, then observing the lateness of the night, bid one another farewell.
    .chapter IV
    .paragraph.
        The storm that had rolled off the mountains and surged over the kingdom two nights ago had only showered briefly over the city and surrounding plains before lumbering onwards; out of sight come the following day. This was disheartening for the farmers and their failing crops but well-received news for the king and his large list of royal visitors who would join him in a series of banquets over the next couple of days. The king was quick to show his lavish lifestyle to woo the travelling princes and princesses. However, in between the banquets, the king was informed here and there of the growing outcry made by the city’s dwellers who were growing restless. Their demands seemed to be never ending.
    .paragraph.
        ‘Ignorants.’ The king would continue to say, dismissing any chance for rebuttal. ‘They aren’t even aware of
    .paragraph.
        how much their king does for them. They are but sheep that only know to bleat for more food.’
    .paragraph.
        On the third and final day, word was spreading between guests about the civil revolt that was brewing beneath them. They had heard chants, seen brawls here and there, a certain crazed and deranged look in the eyes of peasants. The king felt the slight change in the mood was all too glad to say goodbye to his beloved guests.
    .paragraph.
        ‘What’s all the problem now?’ The king moaned to his council of advisors.
    .paragraph.
        ‘Where not too sure how it broke out, but there has been a rising unrest amongst the population.’
    .paragraph.
        There was no doubt that the king had been acutely aware all the time of the bad omen that had been cast over his city. As was recommended, he had ordered a large segment of his guards to traipse across the grasslands to the sister river to collect large pales and vases of its water. He had seen the confused looks on their faces but none of them dared to protest and perhaps they were even glad to get some time out of the city.
    .paragraph.
        ‘In addition, the reduction of guards throughout the city has seemed to incite greater violence. There have been multiple reports of peasants sacking and looting the granaries of many of the noble families. The victims of which have put increasing pressure to compensate them for their loss.
    .paragraph.
        ‘What errand have you given the rest of the garrison?’ Inquired another advisor.
    .paragraph.
        There was a sustained pause before the king heard the question he had expected to hear.
    .paragraph.
        ‘I’ve heard that a wizard wandered into this city.’
    .paragraph.
        ‘He’s been arrested and confined in the city’s jail.’ Responded another advisor.
    .paragraph.
        ‘You don’t think that he could be behind this?’ Asked a rather timid and plump advisor.
    .paragraph.
        The king allowed for the short commotion to preside as he pondered the situation. Try as he might it had been menacing with his mind over the last couple of nights. He believed that it was because of his thoughtfulness and intelligence that such a seemingly minor problem for some kings was having a much larger effect than necessary on him. He was worried that such a revelation may be received with jest and ridicule and damage his reputation. Had the mighty king become undone by such a simple tale as a wandering wizard. But he had an idea. If he could convince the advisors and the rest of the population about an evil wizard that was lurking in the city, trying to curse its people then maybe he could get the people to sympathize with him, to unite and show solidarity just like the sea of golden lights that populate the city at night. It would then become not a story of the king against the wizard but the city against the wizard. And so, he began to carve out a tale of his experience with this troublesome wizard, glancing at all the advisors who were leaned forth and listening with bated breath. Again, imagining him to be a painter, he focused on each individual brush stroke making sure the execution was perfect and the final picture was as believable as it could be. At the close of his speech, the king looked on to his advisors. There was the briefest of pauses before the room erupted into uproar and charged discourse.
    .paragraph.
        ‘We should ask him what he wants.’ Said one.
    .paragraph.
        ‘No, we don’t entreat with such vile villains. We should hang him.’ Said another.
    .paragraph.
        ‘Don’t be ridiculous, we should release him and, in his mercy, he will spare our city.’
    .paragraph.
        ‘That’s crazy. We should punish him for his actions.’
    .paragraph.
        The king remained quiet, although there was clear discontent in how to proceed, the advisors, more importantly, seemed unanimous that this was of some concern.
    .paragraph.
        ‘Silence!’ Shrilled the king. ‘What we have here is like a siege. A siege from within.’ He spoke raising his hands. ‘We cannot negotiate with this delusional wizard nor should we be tempted to attack him. We instead must withstand his attempts to derail us and prove that our strength together can overcome his.’
    .paragraph.
        ‘But, how do we withstand, with the population already drinking this contaminated water?’
    .paragraph.
        The king stayed quiet again, listening to the conversation bounce back and forth between each of his advisors. First, they wanted to get more fresh water from the river, but then they needed the guards to control the already maddened population. Should they announce that to the population or would that just spark more craziness. Someone suggested building an aqueduct system to transport water into the city. They then set out to budget their new scheme. The king felt relatively contempt with his decision to include more people in the problem. His nervousness that the situation may get out of control had eased a little. The concluding consensus was that, the king would ask a special favour from the each of the noble families to help get the city through this tough time and that when better times came, they would be rewarded for their actions. The king nodded and the meeting was adjourned. The king then rushed out of the room to spend the last few hours of the day with his family leaving the advisors to disperse like a colony of ants all behaving in some frantic manner emphasising their own self-worth as they fumbled in small groups off to the next call of duty. There was, however, a small cluster of these ants that lingered behind, quietly amalgamating together in a dark corner. It seemed that not all the advisors had swallowed the king’s story as the king had hoped, and there wasn’t in fact the same unanimous appeal that the king had thought there was. Out of earshot, each ant muttered their thoughts of disapproval at the seemingly senile king who was spouting some nonsense about a wizard and endangering the good of the people. The voices seemed to dissipate into a series of grim nods and then one by one the ants left, resuming their normal pretentiously frantic behaviour.
    .chapter V
    .paragraph.
        The following morning, the sun harboured its usual scorching heat over the wilting city. One might have even seen the imperious and beautifully crafted stone structures that gave the city its reputation begin to slouch and slump under the heavy burden it shared with its people. The creaks and groans that the city let off seemed to echo off the walls and shape themselves into hushed whispers, whispers that like the wind seem impossible to source. The king himself was in a most anxious and precarious mood and therefore inevitably the most sensitive to these whispers. Whether from the buildings or from the people, he was unable to ascertain.
    .paragraph.
        The city housed five noble families that made up the greatest concentration of wealth and possessed the largest influence over the development of the city. It was because of this very fact, that the king spent a lot of time, working his words, to maintain good relations with these people. They all shared residence, with their large stone manors on the same grand hill as the king and although none could claim a better view then from the king’s tower, they could all inevitably see the disruption that had been ravaging the city. It was these five people that could collectively ease the problems that the king was facing but to ask for a favour from them was to show weakness to a group of powerful men, something that the king felt very uncomfortable at doing. A king must conduct his duties to garnish greater respect but the actions he was about to take were nothing but acts of desperation. And desperation is the quivering edge of the blade that can lead to the demise of a king. Yet, nonetheless he felt obliged to convince these five people. Here, however, in the grand hall where the king had summoned each of the families to meet, the king could only count four. He did a quick count again to confirm that number. Yes, one of the families was in absence. An eerie silence had settled over the hall. The king looked inquisitively at each of their faces, hoping that his powers of understanding could break down the subtle grimaces in their face to stories of truth that they were withholding with pursed lips. Only his friend seemed to show a glimmer of sympathy for his situation. The rest returned an equally inquisitive but cold look. Eventually a guard galloped in, and observing the apparent silence, made a strange adjustment to his movement where he tried to move quickly across the wooden floorboards whilst clutching the plate armour around his torso in an attempt to also be as quiet as possible. The resultant effort looked something like a gorilla as he hobbled around the table to be able to whisper into the king’s ear.
    .paragraph.
        ‘They have rejected your request, your majesty.’ He said out of earshot of the others.
    .paragraph.
        ‘Did they say why?’
    .paragraph.
        ‘No, but it looks as if they’re up to something, your majesty.’
    .paragraph.
        ‘Really?’
    .paragraph.
        ‘Yeah, they’ve built this temporary structure that’s pumping water down by the river all the way up to their reservoir.’
    .paragraph.
        ‘Damn fools.’ The king said to himself but loud enough for the guard to hear.
    .paragraph.
        ‘I beg your pardon, your majesty.’
    .paragraph.
        ‘Nothing, that is all.’ And he flapped the guard away.
    .paragraph.
        Then taking a moment to recollect his thoughts before standing he addressed to his audience: ‘It seems that it will just be the five of us today.’ He cast his eyes to watch all four of them follow in courtesy, standing up, giving a short bow and sitting back down again.
    .paragraph.
        ‘As you may have observed, we have found ourselves in very adverse times indeed. Yes, I talk about the failure of crops and the shortage of food but also the very failure of our own people who lack the understanding to know that these times call for support and tolerance of one another, not the unnecessary lashing out of discontentment. But fortunate I am to be in the company of wiser folk who have a better understanding of what the situation really requires and whom...’
    .paragraph.
        ‘We will not aid you.’ Came the words from the other side of the table, breaking through the king’s own speech.
    .paragraph.
        A moment’s silence was given for the king to obtain comprehension. Even then the king was only able to utter: ‘What?’
    .paragraph.
        ‘We know why you’ve brought us here, there’s no other reason for this meeting then to ask for our financial support. Is that not correct?’
    .paragraph.
        ‘Why ah… yes.’ Replied the king feeling embarrassed at the obviousness of his own intentions.
    .paragraph.
        ‘We agree that times are tough but we are concerned firstly for our own welfare. As you’ve been told, it is our own granaries that have been ransacked.’
    .paragraph.
        ‘But you haven’t even given me the chance to explain the plan that I’ve prepared.’ Retorted the king. ‘It’s in your interest that we work together.’
    .paragraph.
        ‘And what crazy scheme is this, something to do with moving gallons of water around the place?’
    .paragraph.
        ‘It’s in all your best welfare as well. But you can’t even see that.’ Spoke the king, feeling first irked but now increasingly irritated at the incompetence of these men and perhaps even more so at his own admission to seek their help.
    .paragraph.
        ‘No, we refuse to grant you any assistance. Perhaps if you weren’t so greedy and oblivious to your own people, none of this would happen.’
    .paragraph.
        It was then at the hearing of this, that the king failed to restrain his bubbling anger any longer and, against the principles of calm rationality he set for himself, raged incessant abuse at the four around the table. His loss of head would have led to more regrettable and irreversible actions had it not been for the unexpected arrival of the fifth and absent nobleman whom, storming through the barred double doors, came in maniacally swinging his sword, possessed with taking the life of the king and spouting some rambled nonsense suggesting that the king was trying to poison them all. All further nonsensical remarks disintegrated into gibberish and rebounded effortlessly off the astounded king who was too paralysed to even think about anything. The king’s guards all swarmed in to the room and were met by the madman’s own berserkers you came up in reinforcement. To the left and right the other nobleman scrambled to positions of safety, fleeing through the same doors that the guards were rushing out of. The sounds of clamouring swords rang throughout the entire hall and the king still remained helpless, stuck to wooden floor and struck with awe now at the pure madness of the magician’s magic. When the realisation of imminent danger was finally able to smash through the paralysis and break the king free, he moved alongside his aids out the side of the hall and rushed across the large archways. Aware of the mutiny that seemed to be bubbling from within the city, he ordered all the soldiers to convene and protect the inner castle, to transport any rations from the outer granaries to somewhere secure and to barricade the inner walls from any outbursts of aggression from civilians. It was as he was barking out orders that he realised that they were taking him to his family. His mind instantly refocused to their safety, what was most important was to protect them from those imbeciles outside. But just as quickly as he thought of his family, so too did the rest of his mind come back to him and instead he decided that they would be safe without his presence and perhaps the most urgent person he needed to see to resolve the problem was the wizard himself. He was unsure how exactly he would find a solution, only that it was the wizard that he needed to address.
    .chapter VI
    .paragraph.
        The city’s jail, like most cities built around this era, was located as a section of the dungeons that lay almost directly beneath the castle’s barracks on the outskirts of the inner wall. Such was the design that any attempted escape by a prisoner would not only mean sneaking past the guards put on watch around the jail but also past the living and sleeping quarters of the entire population of city guards unless of course the prisoner in question was an incredibly competent digger. The king wasn’t sure whether this was of comfort or not. Yes, on the one hand this meant extra levels of security, but on the other hand, it’s often hard to tell what face is lurking behind the helmet of a guard and if the prisoner in question was very clever and sly, they would also have access to a plethora of armour and clothing, easily sufficient enough to be a believable guise. His growing suspicion meant that it was first a weird feeling of relief when the king’s immediate guards had departed his side to aid their comrades to an attempted raid on the barrack’s own granary, but later whilst carefully descending down to the jail, it meant a growing feeling of loneliness. There at the entrance, under the light of a flickering torch, was an attentive boy, who perhaps expecting another comrade was stunned at seeing his king traipse down the staircase and in a clumsy fashion stood up to salute.
    .paragraph.
        ‘Your majesty, what brings you here?’
    .paragraph.
        ‘I want to speak with a prisoner that was sent here a couple of days ago.’
    .paragraph.
        ‘You mean the wizard? Your majesty.’
    .paragraph.
        ‘Ah. Yes him.’
    .paragraph.
        ‘He’s located right here.’ Said the boy, pointing to a map. ‘And we’re here.’ He paused and then added: ‘Your majesty.’
    .paragraph.
        ‘Are you not going to take me to him?’
    .paragraph.
        ‘Do you want me to? Your majesty. Usually I have to stay on watch here, you know, for the watch of all the prisoners.’
    .paragraph.
        ‘Yes, I guess you’re right then.’ Nodded the king before craning his head under the low ceiling and making his way down the aisles. It was the first time the king had ventured into the prison. It was normally just some action that he ordered to guards he thought to himself. There might have just as well been no prison as far as he knew and the guards could have taken the arrested man or woman out of the king’s sight, given them a quick rough time before the two of them would give one another a smile at how easy it was to trick this fool of a king. And then, the arrested person would simply waltz on back to his family for a warm supper. But here was evident proof that at least the facility existed. Looking attentively from side to side, the king realised that for a few famished souls in the corners of their respective cells, the prison was largely empty. Perhaps they had just let them go after all. The dim lighting and cramped space was making the king especially worried. It would be all too easy for someone to jump out of one of the dark corners and shank him in the stomach. The king was pondering what to say to the wizard, when he finally came upon him just at the end of the corridor when a voice behind him made him jump and spin around.
    .paragraph.
        ‘He’s not here, your majesty.’
    .paragraph.
        ‘What.’ Screamed the king half out of the panic he was still feeling and half in disbelief that the wizard had escaped.
    .paragraph.
        ‘I checked the records, your majesty. The prisoner was released just a couple of hours ago. Ah.. by your own decree, your majesty.’
    .paragraph.
        ‘Really?’ He half asked the boy whilst pondering who could have left this wizard free. Perhaps, he thought to himself, this wasn’t just the doing of a single person but a group of people. There were a few of his advisors he was increasingly suspicious about and it wouldn’t surprise him the least if that crazy nobleman that had tried to attack him was behind it all along. He raced past the guard and up to the barracks. A group of guards saw him pacing vehemently across the courtyard and came to intersect him.
    .paragraph.
        ‘Your majesty.’ Started one of them. ‘The other noblemen managed to calm the upset man down, their troops have relinquished their arms and surrendered.’
    .paragraph.
        ‘Also, the wizard has been seen leaving the city, the advisors say that the curse has been lifted.’ Piped in another.
    .paragraph.
        ‘Arrest them.’ Ordered the king indignantly.
    .paragraph.
        ‘The nobleman?’ Asked another guard in surprise.
    .paragraph.
        ‘All of them.’
    .paragraph.
        ‘Huh?’
    .paragraph.
        Damn them all. They can suffer for their own insolence and idiocy. ‘Arrest all these so-called noblemen and my treacherous advisors. It’s about time we made proper use of the city’s prison.’ The king marched straight past the shocked faces of the guards. He could hear their thoughts. Has the king gone mad they’d ask themselves. But not a word was spoken and the guards marched off to complete their orders.
    .paragraph.
        It was in the minutes after, where he was able to regather his thoughts that he realised most of all he wanted to see his family again. To make sure that they would be alright. The world was going crazy before his eyes and his only salvation might be in the arms of his family.
    .chapter VII
    .paragraph.
        The king was panting as he reached the small landing at the top of the staircase that led to his family’s quarters. The two guards there waited for him to recover his breath before they opened the doors in unison. The king marched in with a surging feeling to see the face of his wife again. In the room of the fireplace his eyes rested on this face at it drank from a carafe of what clearly came fresh from the city’s river. His two daughters were also lying there emptying the contents of the carafe in their mouth. The king didn’t say anything. He didn’t yell to stop them or express any shock, he stood there with a deadened look. The queen and his wife, was first to jolt her head and notice her man standing in the entranceway. Understanding the look in his face, the wife quickly rushes to his side carrying a glass of the poisoned water.
    .paragraph.
        ‘What is this?’ Was all the king could murmur in saddened disbelief.
    .paragraph.
        ‘Drink’ His wife urged. ‘It will make everything alright.’
    .paragraph.
        But the king just shakes his head with an empty expression refusing her the opportunity to bring the glass to his lips.
    .paragraph.
        His wife tries again, a touch more impatient: ‘The wizard said that the only way to fix this is to drink it yourself. He said that this madness stuff is all relative. You need to drink from the same cup as the people around you, you need to immerse yourself in the same madness to fully understand them and to break the spell over this city.’
    .paragraph.
        ‘Why should I trust him? Why should I trust a madman?’
    .paragraph.
        ‘You can trust me.’
    .paragraph.
        But you’ve become a madman as well. Was what the king was about to reply but instead held his tongue. Without even giving his wife a chance to change his mind, the king turned away and walked out the room, leaving her there with an expression that was two thirds confused and one third surprised.
    .chapter VIII
    .paragraph.
        The king walked out to what used to be his favourite spot in the city but was now the only spot left in the city. There was a wetness in his eyes that partly blurred his vision as he looked down to the city below him. The wind had picked up and was bellowing around the tower, drowning out the whispers of the city below and wrapping him in a cold and isolating blanket. The king stared blankly and, slowly releasing the tension in his body, allowed for the loneliness to creep through. He was no longer able to marvel at this city. It was no longer his. He had lost his people, his guards and advisors, his friends and now even his own family.
    .paragraph.
        ‘So stupid.’ The king blurted out loud and then sobbed. By whom he meant by that outcry was left to the loneliness of his mind.
    .paragraph.
        He raised his head once more and looked out beyond the city’s walls. It was pitch black and impossible to see anything apart from a few naked flames from the little villages, but out there, somewhere, roamed the wizard, off to infiltrate the next city, to spread whatever magic he actually had.
    .paragraph.
        The king lingered a little longer at the tower, seeing the chaos beneath him before descending himself towards that chaos.
    .paragraph.
        The king prepared two horses and a cart from the stable, filled it with foods and other goods, cloaked himself and the cart and as the riots raged on, on the one side of town, snuck down the other side. With a bit of uncertainty and caution, the cloaked king journeyed through the poorer districts and came suddenly to the river itself. There it lay, innocently minding its own self. The king just had to cross it and follow it down to the city gates but he was struck by a new prospect. He had nothing now, so what could he lose if he were to take a sip from the river. Perhaps this city deserves to be run by a madman given the way its residents are behaving. Realising how peckish he was he took out a loaf of bread and began munching on it whilst sitting down and watching the odd drifter scatter from one house to another. The riots were all concentrated towards the center of the city so here it was very quiet. Out of the drifters, one that caught his eye was a small girl about the age of his oldest daughter who had slowly come to the water’s edge and was now kneeling before it. He stood up and moved to join her, standing a few metres to her right. He began to look into the rivers water. It wasn’t like he was trying to look for fish or something, he was just aimlessly looking into the river. The little girl who was drinking a little bit, took an extra scoop and handed it without question to the cloaked stranger that was standing next to her. The king looked in to her eyes in search of madness. But her eyes just showed a serene innocence and a longing hunger. So, he took the glass of transparent contents and handed her the leftover bread in his hand. The king then took a sip of the water and watched the little girl’s face light up with delight before taking a large bite from the bread. Was this girl in front of him another so-called sheep that he’d previously described his people to be like? The king let go of these thoughts and awaited the itching madness to take hold of him. But looking at this girl’s face he felt but a peculiar warmth. The same tender warmth that one finds oneself feeling for their family and closest friends. He broke of another piece and bent down to hand it to her. This girl here is just in need of nourishment to grow and to understand, the king thought to himself.
    .paragraph.
        The king peered around at the quiet neighbourhood nestled along the river and illuminated by the moon, the stars, and glowing torches that are bolted along the walls and at the end of tall poles. He realises then that he had only ever recognised these streets from the view of his stool high up on the towers terrace in which he sat to admire his work as a painter of this beautiful city. He had obviously known that these were actual houses and shops as well as actual merchants, mothers and children but as he stands there he realises that not only was it not part of a painting, it was no different from standing anywhere that he has ever stood before. That the people that live in this neighbourhood could’ve equally looked up at the tower at the center of the keep and see him as nothing but paint on a painting as well. Instead, the girl standing next to him and all the others for that matter, were so much more than that. They could see and hear the same that he could. They could think and reason in the same way he does. All of his people could have been born kings and he could have been born as any of his people.
    .paragraph.
        The king’s eyes were drawn to more curious kids that would break from the safety of the shadows to approach this cloaked stranger. It is less the well thought out idea and more instinct that told the king to reach into his cart and give them the food he’d gathered. The king, governed by this new imperative, turned his cart around and rode back towards the city center.
    .paragraph.
        As the emboldened king marched purposefully towards the chaos that amassed at the inner-city walls, one could describe the scene that was to unfold as an act of madness, but similarly, what happened could’ve also been seen as a moment of true normality. As the man that dressed like a wizard wisped along the barren plains of to another city to cast nothing but carefully chosen words, the man that dressed like a king, realised what his people wanted by realising who is people were and in doing so allowed the people to realise who he was.
    .paragraph.
        The king addressed his people and ordered the opening of the gates, the distribution of the food and the release of those that were unjustly arrested. One of the guards, rather aghast from the sudden change of plans, blurted out in a moment of confusion:
    .paragraph.
        “Are you mad?”
    .paragraph.
        The king spared a thought to the events that had transpired of late. And in light of all this he responded simply: ‘Madness is just misunderstanding.’
